h1 {
  text-align: center;
}
p {
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
}
.conteiner {
  display: flex;
  justify-content: center;
}
.link {
  margin: 20px;
  color: var(--colorlink);
}
:root {
  --colorlink: green;
}
.open-source {
  position: fixed;
  bottom: 0;
}
